@model List<BookingViewModel.Result>
@{
    ViewData["Title"] = "Index";
}

<div class="card-header text-center">
<form method="post">
        <input type="text" name="cityName" placeholder="Şehir İsmi" value="@TempData["cityName"]" />
    <button class="btn btn-dark append">Ara</button>

</form>
</div>
@{
    int count = 0;
  
}

   
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Otel Adı</th>
            <th>Otel Değerlendirme</th>
            <th>Detaylar</th>

        </tr>
        @foreach (var item in Model)
        {
            count++;

            <tr>
                <th>@count</th>
                <td><img src="@item.main_photo_url" style="height:75px;width:75px" /> @item.hotel_name</td>
            
          
                <td>@item.review_score_word</td>
                <td><a href="@item.url" class="btn btn-dark" target="_blank">Detaylar</a></td>

            </tr>
        }
    </table>

